.contents.row
  .profile
    -if @user.image.present?
      =image_tag @user.image.url, class: "image"
    -else
      %i.fas.fa-user-circle
    = @user.name
    -if user_signed_in? && @user.id == current_user.id
      =link_to edit_user_path(current_user.id), class: "btn" do
        プロフィールを編集する 
    %p
      =@user.introduction
  %p
    = @user.name
    さんの投稿一覧

  - @tweets.each do |tweet|
    = render partial: "tweets/tweet", locals: { tweet: tweet }
  = paginate(@tweets)