.contents.row
  .profile
    -if current_user.image.present?
      =image_tag current_user.image.url, class: "image"
    -else
      %i.fas.fa-user-circle
    = @name
    =link_to edit_user_path(current_user.id), class: "btn" do
      プロフィールを編集する 
    %p
      =@introduction
  %p
    = @name
    さんの投稿一覧

  - @tweets.each do |tweet|
    = render partial: "tweets/tweet", locals: { tweet: tweet }
  = paginate(@tweets)