.container {
  @include boxBase(20px 0 ,30px);
  box-shadow: 0 0 10px rgba($black,0.2);
  background-color: $lightgray;
  box-sizing: border-box;
  border: 1px solid $gray;
  border-radius: 5px;
  .user_images{
    @include boxBase;
    .fa-user-circle{
      font-size: 140px;
      margin-right: 10px;
      position: relative;        
      .fa-circle{
        position: absolute;
        font-size: 40px;
        right: 15px;
        bottom: 15px;
        color: $accent;
      }
      .fa-plus{
        position: absolute;
        right: 22px;
        bottom: 20px;
        font-size: 30px;
        color: whtie;
        font-weight: bold;
      }
    }
  }
  .tweet_images{
    @include boxBase;
    // margin-left: 10px;
    .fa-images{
      font-size: 30px;
    }
  }
}

.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
  .contents {
    position: absolute;
    left: 0;
    top: 30%;
    bottom: 0;
    right: 0;
  }
  footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}

form {
  h3 {
    @include baseMargin(0 0 20px);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
  }
  input,textarea {
    width: 100%;
    @include boxBase(5px 0 15px,10px);
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: $lightgray;
    color: white;
  }

  input[type="submit"] {
    @include btn;
  }
}