.container {
  @include boxBase(20px 0 ,30px);
  box-shadow: 0 0 10px rgba($black,0.2);
  background-color: $lightgray;
  box-sizing: border-box;
  border: 1px solid $gray;
  border-radius: 5px;
  .image_form{
    @include boxBase;
    position: relative;
    margin-top: 20px;
    p{
      margin-left: -8px;
    }
    .icon{
      @include icon(140px);
    }
    .fa-user-circle{
      font-size: 140px;
      margin-right: 10px;
    }
    .fa-circle{
      position: absolute;
      font-size: 40px;
      left: 98px;
      bottom: 35px;
      color: $accent;
      z-index: 1;
    }
    .fa-plus{
      position: absolute;
      left: 105px;
      bottom: 40px;
      font-size: 30px;
      color: whtie;
      font-weight: bold;
      z-index: 2;
    }
  }
}
.tweet_images{
  @include boxBase;
  font-size: 25px;
}
.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
  .contents {
    position: absolute;
    left: 0;
    top: 30%;
    bottom: 0;
    right: 0;
  }
  footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}

form {
  h3 {
    @include baseMargin(0 0 20px);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
  }
  input,textarea {
    width: 100%;
    @include boxBase(5px 0 15px,10px);
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: $lightgray;
    color: white;
  }
  input[type="submit"] {
    @include btn;
  }
  .easy_login{
    margin-top: 30px;
  }
}