.header {
  @include basePadding;
  border-bottom: 1px solid $gray;
  background-color: $lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
  &__bar.row {
    position: relative;
    h1.grid-6 {
      font-size: 20px;
      line-height: 41px;
      float: left;
      a {
        display: block;

      }
    }
    div.grid-6 {
      float: right;
      text-align: right;
      a.post {
        width: 120px;
        line-height: 41px;
        display: inline-left;
        margin-left: 10px;
      }
    }
  }
  .user_nav {
    position: relative;
    height: 100px;
    right: 0;
    span {
      top: 5px;
      display: block;
      float: left;
      margin-left: 30px;
      width: 150px;
      height: 50px;
      line-height: 28px;
      font-size: 1em;
      cursor: pointer;
      position: relative;
      .image{
        @include icon;
      }
      .fa-user-circle{
        vertical-align: middle;
        font-size: 1.8em;
        margin-right: 5px;
      }
      .fa-sort-down{
        font-size: 1.4em;
      }
      &:hover ul {
        color: $accent;
        display: block;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 46px;
      right: 0;
      border-left: 2px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      box-shadow: 0.1px 1px 3px 2px rgba(255,255,255,0.1);
      li {
        background-color: $lightgray;
        a {
          display: block;
          padding: 10px 20px;
          text-align: left;
          border-bottom: 1px solid #d8d8d8;
        }
      }
     }
  }
}