@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

@mixin btn{
  background-color: $accent;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  &:hover {
    background-color: lighten($accent, 10%);
  }
}
